.content-container {
    @include container();
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 0 10px;
}

.content-flex-wrapper {
   @include flex-container();
   max-width: $max-page-width;
   margin: 0 auto;
}

.content-wrapper {
    @include container();
}

.main {
   &__headline {
      @include font-size(16px);
      margin-top: 50px;
      margin-bottom: 20px;
   }
}

.secondary {
   &__headline {
      @include font-size(16px);
      margin-top: 20px;
      margin-bottom: 20px;
   }
}

main {
   height: 100%;
   padding-top: $masthead-height;
}


.button {
   &--callout {
      @include button(16px);
      padding: 15px 60px;
   }

   &--member-toggle {
      @include font-size(14px);
      display: inline-block;
      margin: 0 15px 10px 0;

      @include last() {
         margin: 0 15px 0 0;
      }
   }

   &--outline {
      @include button(16px);
      border: 1px solid get-color(dusty-gray);
      background: transparent;
      color: get-color(dusty-gray);
      text-align: center;
      margin: 20px 0;
      padding: 20px 0;
      width: 100%;
   }

   &--like {
      display: flex;
      align-items: center;
      float: left;
      width: 120px;
   }
   &--liked-icon {
      @include font-size(18px);
      padding: 0 5px;
      display: inline-block;
   }
   &--liked-text {
      @include font-size(14px);
      padding: 0 5px;
      display: inline-block;
   }
   &--profile {
      display: flex;
      align-items: center;
      float: left;
      width: 220px;
   }
   &--profile-icon {
      @include font-size(18px);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: inline-block;
   }
   &--profile-text {
      @include font-size(14px);
      padding: 0 5px;
      display: inline-block;
   }
}




