.page {

   &__secondary {
      background: get-color(athens-gray);
      padding: 0 0 46px 0;
   }

   &__footer {
      padding: 15px 0 10px 0;
   }

   &__headline {
      @include font-size(18px);
      font-weight: get-font-weight(light);
      padding: 46px 0 15px 0;
      text-transform: uppercase;
   }
}

.content-container {
    @include container();
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 0 40px;
}
