.blurb {
   @include flex-container(flex-start, flex-start, flex-start);
   @include font-size(18px);
   height: auto;
   flex-wrap: nowrap;
   padding-bottom: 10px;

   &__image {
      padding: 0 13px 0 0;

      img {
         border-radius: 50%;
         height: 42px;
         width: 42px;
      }
   }

   &__content {
      flex-grow: 2
   }

}
