.blurb {
   @include flex-container(flex-start, flex-start, flex-start);
   @include font-size(18px);
   height: auto;
   flex-wrap: nowrap;
   padding: 5px 40px 0px 40px;
   margin-bottom: 5px;

   &:hover {
      .blurb__like-button {
         display: inline-block;
      }
   background-color: #f9f9f9;
   }

   &__image {
      padding: 0 13px 0 0;

      img {
         border-radius: 50%;
         height: 42px;
         width: 42px;
      }
   }

   &__content {
      flex-grow: 2
   }

   &__info {
      @include flex-container(center, center, flex-start);
   }

   &__username {
      @include font-size(16px);
      color: get-color(cloud-burst);
      display: inline-block;
      font-weight: get-font-weight(medium);
      padding-right: 10px;
   }

   &__timestamp {
      @include font-size(12px);
      color: get-color(gray);
      display: inline-block;
      text-transform: uppercase;
      padding-right: 10px;
   }

   &__like-button {
      @include font-size(12px);
      color: get-color(gray);
      padding-right: 10px;
      display: none;

      &:hover {
         color: get-color(persimmon);
   }

      &--liked {
         @extend .blurb__like-button;
         color: get-color(persimmon);
      }
   }

   &__text {
      @include font-size(15px);
      line-height: get-line-height(15px, 20px);

      a {
         color: get-color(boston-blue);
         font-weight: get-font-weight(semi-bold);
      }
   }

   &--multiline {
      padding-top: 7px;
      padding-bottom: 7px;

      .blurb {
         &__content {
            @extend .blurb__content;
            padding: 5px 0px 5px 55px;
            margin: -15px 0 0 0;

            &:hover {
            background-color: #f9f9f9;
               .blurb__info {
                  display: flex;
               }
            }

         }

         &__info {
            float: left;
            left: 0px;
            margin-left: -20px;
            display: none;
      
         }

         &__timestamp {
            padding: 0;
            margin-left: -10px;
         }    

         &__like-button {
            display:inline-block;
            padding: 0;
            float: left;
            margin-left: 10px;
         } 

         &__text {
            @extend .blurb__text;
            padding-left: 40px;
         }
      }
   }
   &--liked {
      padding-bottom: 20px;

      .blurb {
         &__like-button {
            @extend .blurb__like-button--liked;
         }

         &__image {
            img {
               height: 20px;
               width: 20px;
            }
         }

         &__username {
            @extend .blurb__username;
            @include font-size(15px);
            color: get-color(white);
            font-weight: get-font-weight(semi-bold);
         }

         &__text {
            @extend .blurb__text;
            @include font-size(13px);
            color: rgba(get-color(white), 0.55);
            line-height: get-line-height(13px, 18px);
         }

         &__count {
            @include font-size(11px);
            color: rgba(get-color(white), 0.35);
         }

         &__timestamp {
            @include font-size(11px);
            color: rgba(get-color(white), 0.35);
         }
      }
   }

}

