.card {
   color: get-color(white);
   flex-grow: 1;
   margin: 0 20px 20px 0;
   background-color: get-color(tundora);
   padding: 95px 20px 20px 20px;
   width: 30%;

   &__container {
      @include flex-container(stretch, stretch, space-around);
   }

   &--listing {
      flex-grow: 1;
      width: 49%;
      color: get-color(dove-gray);
      margin-bottom: 24px;
      display: inline-block;
      padding-right: 30px;
   }

   &__button {
      @include button();
   }

   &__title {
      @include font-size(20px);

      &--listing {
         @include font-size(16px);
         color: get-color(ebony-clay);
         display: inline-block;
      }
   }

   &__text {
      @include font-size(13px);
      color: rgba(get-color(white), 0.80);
      line-height: get-line-height(13px, 18px);

      &--listing {
         @include font-size(14px);
         color: get-color(dove-gray);
         margin: -6px 0 0 0;
      }
   }

   &__meta {
      @include font-size(14px);
      color: rgba(get-color(white), 0.75);
      font-weight: get-font-weight(light);
      margin: -6px 0 10px 0;
      padding: 0;

      &--listing {
         @extend .card__meta;
         color: get-color(cadet-blue);
         display: inline-block;
         margin-left: 12px;
      }
   }
   &__count {
      @include font-size(12px);
      color: rgba(get-color(white), 0.80);
      margin-left: 5px;

      &--listing {
         @extend .card__count;
         color: get-color(gray);
      }
   }
   &__count {
      @include font-size(12px);
      color: rgba(get-color(white), 0.80);
      margin-left: 5px;
   }
}


