.selected {
   border: 2px solid #699 !important;
}

.create {
   text-align: center;

   &__label {
      @include font-size(16px);
      font-weight: get-font-weight(semi-bold);
      display: block;
      margin-bottom: 50px;
      text-align: left;
      width: 100%;

      &--color-picker {
         @extend .create__label;
         margin-bottom: 84px;
         margin-top: 48px;
      }
   }

   &__input {
      @include font-size(24px);
      border: none;
      border-bottom: 1px solid get-color(mercury);
      font-weight: get-font-weight(light);
      line-height: get-line-height(26px, 32px);
      margin-top: 20px;
      outline: none;
      width: 100%;

      &--description {
         @extend .create__input;
         min-height: 75px;
      }
   }

   &__color-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }

   &__color-item {
      border: 2px solid transparent;
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 2px;

      @include last() {
         margin: 0;
         padding: 2px
      }

      a {
         display: block;
         height: 68px;
         width: 68px;

      }
   }

   &__links {
      @include font-size(15px);
      color: get-color(boston-blue);
      line-height: get-line-height(15px, 20px);
   }
}
