.logo {
   @include font-size(28px);
   font-family: get-stack(sans-serif);
   text-decoration: none;
   padding: 0 10px;
}

.masthead {
   @include container();
   background: get-color(fun-blue);
   background: linear-gradient(to bottom, get-color(fun-blue) 0%,get-color(tawny-port) 100%);
   font-weight: get-font-weight(light);
   height: 471px;
   width: 100%;

   &__navigation-container {
      @include flex-container();
      height: $masthead-height;
      padding: 21px 30px 0 30px;
      margin: 0 auto;
      max-width: $max-page-width;
   }

   &__content-container {
      @include flex-container(center, center, center);
      margin-top: -$masthead-height; // pull it up by the masthead
      text-align: center;
   }

   h1 {
      @include font-size(48px);
      color: get-color(white);
      text-transform: uppercase;
   }

   h2 {
      @include font-size(24px);
      font-weight: get-font-weight(normal);
   }

   &__room-overview {
      @include font-size(14px);
      font-weight: get-font-weight(normal);
   }

   &__actions {
      padding: 0 10px 0 10px;
      width: 20%;
   }
}
