.logo {
   @include font-size(28px);
   font-family: get-stack(sans-serif);
   text-decoration: none;
   padding: 0 10px;
}

.masthead {
   @include container();
   background: get-color(white);
   font-weight: get-font-weight(light);
   padding: 0 $page-boundary;
   position: fixed;
   height: $masthead-height;
   width: 100%;
   z-index: get-zindex(1);

   &--full-width {
      @include flex-container(center, center, flex-start);
      font-weight: get-font-weight(light);
      padding: 0;
      position: fixed;
      height: $masthead-height;
      width: 100%;
      z-index: get-zindex(1);
   }

   &__branding {
      @include flex-container(center, center);
      background: darken(get-color(alto), 3%);
      padding: 0 $page-boundary;
      min-width: 240px;
      width: 30%;
   }

   &__description {
      padding: 0 10px 0 40px;
      width: 50%;
   }

   &__room-title {
      @include font-size(24px);
      font-weight: get-font-weight(normal);
   }

   &__room-overview {
      @include font-size(14px);
      font-weight: get-font-weight(normal);
   }

   &__actions {
      padding: 0 10px 0 10px;
      width: 20%;
   }
}



