.modal {
   background: get-color(white);
   left: 20%;
   position: absolute;
   right: 20%;
   top: 20%;
   z-index: get-zindex(20);

   &--full-screen {
      @extend .modal;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
   }

   &__header {
      padding: 40px 0;
      text-align: right;
   }

   &__close {
      @include font-size(26px);
      color: get-color(cadet-blue);
   }

   &__title {
      @include font-size(32px);
      color: get-color(ebony-clay);
      margin: 100px 0 0 0;
      text-align: center;
   }

   p {
      @include font-size(15px);
      color: get-color(emperor);
   }
}
