.nav {
   &__list {
      text-align: right;
   }

   &__item {
      @include font-size(16px);
      display: inline-block;
      margin: 0 5px;

      a {
         text-decoration: none;
      }

      @include last {
         margin: 0;
      }
   }

   &__signin {
      @include button-inline(14px);
      border: 0;
      font-weight: get-font-weight(normal);
      padding: 0 10px;

      @include last() {
         padding-right: 0;
      }
   }
}
