@mixin room-block {
   padding: 10px 20px;
   width: 33%;
   border-right: 1px solid get-color(dove-gray);
   @include last() {
      border: none;
   }
}

.room {
   &__wrapper {
      border-right: 1px solid get-color(dove-gray);
      width: 66%;
      @include media("<=bantam") {
         width: 50%;
      }
   }
   &__metadata {
      border-right: 1px solid get-color(dove-gray);
         padding: 10px 20px;
      width: 50%;

      @include media("<=bantam") {
         border: 0;
         height: 50%;
         width: 100%;
      }
   }

   &__highlights {
      padding: 10px 20px;

      width: 50%;

      @include media("<=bantam") {
         border: 0;
         width: 100%;
         height: 50%;
      }
   }

   &__realtime {
      @include room-block;
      position: relative;
      width: 34%;

      @include media("<=bantam") {
         width: 50%;
      }
   }
}

.panel {
   &__title {
      @include font-size(24px);
      text-align: center;

      &--main {
         @include font-size(24px);
         text-align: left;
      }
   }

   &__description {
      @include font-size(20px);
   }

   &__input {
      @include input();
   }

   &__output {
      position: absolute;
      padding: 10px 20px;
      left: 0;
      right: 0;
      top: 50px;
      bottom: 80px;
      overflow-y: scroll;
      border-bottom: 1px solid get-color(dove-gray);

      p {
         @include font-size(16px);
      }
   }

   &__chat-form {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      padding: 10px 20px;
   }
}

.chat {
   &__list {
      margin: 10px 0 0 0;
      padding: 0;
      list-style-type: none;
   }

   &__items {
      margin: 0;
      padding: 4px;
      display: inline-block;

      img {
         width: 25px;
         height: 25px;
         border-radius: 50%;
      }
   }
}
