.room {
   @include flex-container(stretch, stretch);
}

.realtime {
   background: get-color(white);
   height: 100%;
   position: relative;
   flex-grow: 2;

   &__input {
      @include input();
      @include font-size(13px);
      background-color: get-color(gallery);
      padding: 15px 20px;
   }

   &__output {
      bottom: 125px;
      overflow:hidden;
      overflow-y: scroll;
      padding: 20px 40px;
      position: absolute;
      top: 0;
      width: 100%;
   }

   &__form {
      bottom: 10px;
      padding: 20px 40px;
      position: absolute;
      width: 100%;
   }
}

