.room {
   @include flex-container(stretch, stretch);

   &__sidebar {
      background: get-color(ebony-clay);
      height: 100%;
      min-width: 240px;
      width: 30%;
   }

   &__channels-container {
      margin: 0;
      margin-top: $masthead-height;
      padding: 15px 30px 0px 30px;
   }

   &__channels-container-2 {
      margin: 0;
      margin-top: 30px;
      padding: 0px 30px 0px 30px;
   }

   &__channel-heading {
      margin: 0;
      padding: 0 0 0 0;
      @include font-size(16px);
      font-weight: get-font-weight(bold);
      color: get-color(white);
   }

   &__channel-list {
      list-style: none;
      @include font-size(15px);
      padding: 0 30px;
      margin: 0;
      font-weight: get-font-weight(semi-bold);
   }

   &__channel-list-2 {
      list-style: none;
      @include font-size(15px);
      padding: 0;
      margin: 0;
      font-weight: get-font-weight(semi-bold);
   }

   &__channel {
      color: darken(get-color(white), 45%);
      cursor: pointer;
   }

   &__channel-selected {
      color: get-color(ddd);
      font-weight: get-font-weight(bold);
   }

   &__divider-line {
      display: block;
      border: 0;
      border-top: 1px solid darken(get-color(white), 45%);
      height: 1px;
      margin: 30px 30px;
   }

   &__masthead {
      @include flex-container(center, center);
      background: get-color(boston-blue);
      padding: 20px 30px;
      position: fixed;
      height: $masthead-height;
      min-width: 240px;
      width: 30%;
   }

   &__chat {
      flex-grow: 2;
      height: 100%;
      position: relative;
   }

   &__details-bar {
      @include flex-container(center, center);
      background: get-color(white);
      border-bottom: 1px solid lighten(get-color(gray), 30%);
      height: $masthead-height;
      padding: 20px 40px;
      position: absolute;
      top: 0;
      width: 100%;

      h1 {
         @include font-size(22px);
         color: get-color(cloud-burst);
         font-weight: get-font-weight(light);
         line-height: get-line-height(22px, 29px);
      }

      h2 {
         @include font-size(14px);
         color: get-color(gray);
         font-weight: get-font-weight(normal);
         margin-top: -5px;
      }
   }

   &__description {
      width: 70%;
   }

   &__search {
      @include font-size(14px);
      color: get-color(cadet-blue);
      display: inline-block;
      margin-left: 10px;
   }

   &__buttons-list {
      @include flex-container(center, stretch, flex-start);
   }

   &__buttons-item {
      @include font-size(20px);
      color: get-color(cadet-blue);
      display: inline-block;
      padding: 0 20px 0 0;
      position: relative;
      text-align: center;
   }

   &__buttons-user-count {
      @include font-size(14px);
      display: block;
      margin-top: -2px;
   }
}
