.content-container {
    @include container();
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 0 10px;
}

.content-flex-container {
   align-content: center;
   align-items: stretch;
   flex-wrap: wrap;
   display: flex;
   height: 100%;
}

.content-flex-wrapper {
   @extend .content-flex-wrapper;
   max-width: $max-page-width;
   margin: 0 auto;
   align-content: center;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
   display: flex;
   height: 100%;
}

.content-wrapper {
    @include container();
}

.main {
   &__headline {
      @include font-size(30px);
      padding-bottom: 22px;
   }
}

main {
   height: 100%;
   padding-top: $masthead-height;
}
