.content-container {
    @include container();
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 0 10px;
}

.content-flex-container {
   @include flex-container();
}

.content-flex-wrapper {
   @include flex-container();
   max-width: $max-page-width;
   margin: 0 auto;
}

.content-wrapper {
    @include container();
}

.main {
   &__headline {
      @include font-size(30px);
      padding-bottom: 22px;
   }
}

main {
   height: 100%;
   padding-top: $masthead-height;
}

.button {
   &--callout {
      @include button(16px);
      padding: 15px 60px;
   }
}
