/* TABLET LANDSCAPE / DESKTOP */

.show-sidebar-left, .show-sidebar-right {
   @include font-size(20px);
   color: #acb3bf;
}

.show-sidebar-left {
   float:left;
   display: none;
}

.show-sidebar-right {
   float:right;
   display: none;
}


@media only screen and (max-width: 1024px) {


}    

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
	.room {

      &__sidebar {
       	display: none;
      }

   	&__buttons {
   		display: none;
   	}

      &__description {
         text-align: center;
         margin: 0 auto;
      }

      &__details-bar {
         padding: 20px;
      }

   }

   .realtime__form {
      padding: 10px 20px;
   }

   .show-sidebar-left, .show-sidebar-right {
      display: inline;
   }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
	
}


/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {


}






