/* TABLET LANDSCAPE / DESKTOP */

.menu-btn {
   @include font-size(20px);
   color: #acb3bf;
   display: none;
}

/* TABLET AND SMALLER*/
@media only screen and (max-width: 768px) {
	.room {

      &__sidebar {
         position: fixed;
       	left: 0px;
         z-index: 999;
         width: 240px;
      }

      &__chat {
         position: absolute;
         width: 100%;
         z-index:1000;
      }

   	&__buttons {
   		display: none;
   	}

      &__description {
         text-align: center;
         margin: 0 auto;
      }

      &__details-bar {
         padding: 20px;
      }

   }

   .realtime__form {
      padding: 10px 20px;
   }

   .menu-btn {
      display: inline;
   }

}





