/**
 * Fonts
 * ----------------------------------------------------------------------------
 * I'm a simple guy with simple needs, I don't like to mix a lot of different
 * fonts in my designs.  To keep it simple, I have two different font types:
 * copy and headlines.  They are exactly what they sound like.
 *
 * Make sure you also define "fallbacks" on the off chance Google fonts goes
 * down or your user is on a crappy connection.
 *
 */

$stack-settings: (
   sans-serif:     #{'Hind','Helvetica Neue', Helvetica, Arial, sans-serif},
   base-size:      62.5%,
   letter-spacing: 0px,
   line-height:    1.3
);

$font-weights: (
   // thin:         100,
   // extra-light:  200,
   light:        300,
   normal:       400,
   medium:       500,
   semi-bold:    600,
   bold:         700
   // extra-bold:   800,
   // ultra-bold:   900
);

$breakpoints: (
   'puny':         240px,
   'tiny':         320px,
   'bitty':        480px,
   'small':        640px,
   'bantam':       768px,
   'medium':       980px,
   'large':        1024px,
   'xlarge':       1160px,
   'xxlarge':      1280px,
   'jumbo':        1440px,
   'hulking':      1600px,
   'titanic':      1920px
);

$colors: (
   niagara:                #09b788,
   fun-blue:               #1b5ba7,
   cloud-burst:            #233248,
   ebony-clay:             #243041,
   pickled-bluewood:       #2e3a4c,
   boston-blue:            #3774bd,
   chambray:               #3b5998,
   shamrock:               #3ed08e,
   tundora:                #434343,
   charcoal:               #444444,
   emperor:                #555555,
   picton-blue:            #55acee,
   tawny-port:             #62224e,
   dove-gray:              #717171,
   studio:                 #7451b9,
   slate-gray:             #76839a,
   regent-gray:            #818998,
   gray:                   #888888,
   granite-green:          #918f7e,
   olivine:                #94bd5e,
   dusty-gray:             #9b9b9b,
   wisteria:               #a558a8,
   cadet-blue:             #acb3bf,
   nobel:                  #b4b4b4,
   silver:                 #b9b9b9,
   loblolly:               #c2c9d2,
   cabaret:                #d04a6b,
   alto:                   #d8d8d8,
   athens-gray:            #eff1f6,
   carnation:              #f56360,
   mercury:                #e7e7e7,
   alabaster:              #f8f8f8,
   persimmon:              #fe634f,
   bittersweet:            #ff6f5c,
   sunglow:                #ffc430,
   white:                  #ffffff,
);

@include layout((
  columns: 16,
  gutter-position: no-gutter,
  gutters: 0,
  global-box-sizing: border-box
));

$current-zindex:        100;
$max-page-width:        1024px;
$masthead-height:       70px;
$page-boundary:         30px;
$button-border-radius:  4px;
$menu-border-radius:    8px;

