/**
 * Fonts
 * ----------------------------------------------------------------------------
 * I'm a simple guy with simple needs, I don't like to mix a lot of different
 * fonts in my designs.  To keep it simple, I have two different font types:
 * copy and headlines.  They are exactly what they sound like.
 *
 * Make sure you also define "fallbacks" on the off chance Google fonts goes
 * down or your user is on a crappy connection.
 *
 */

$stack-settings: (
   sans-serif:     #{'Hind','Helvetica Neue', Helvetica, Arial, sans-serif},
   base-size:      62.5%,
   letter-spacing: 0px,
   line-height:    1.3
);

$font-weights: (
   // thin:         100,
   // extra-light:  200,
   light:        300,
   normal:       400,
   medium:       500,
   semi-bold:    600,
   bold:         700
   // extra-bold:   800,
   // ultra-bold:   900
);

$breakpoints: (
   'puny':         240px,
   'tiny':         320px,
   'bitty':        480px,
   'small':        640px,
   'bantam':       768px,
   'medium':       980px,
   'large':        1024px,
   'xlarge':       1160px,
   'xxlarge':      1280px,
   'jumbo':        1440px,
   'hulking':      1600px,
   'titanic':      1920px
);

$colors: (
   alto:           #d8d8d8,
   black:          #000,
   white:          #fff,
   rhino:          #293C5B,
   shark:          #222627,
   gallery:        #eaeaea,
   concrete:       #f2f2f2,
   charcoal:       #444,
   dove-gray:      #717171,
   dusty-gray:     #9b9b9b,
   aqua-island:    #A6CADC,
   chalet-green:   #64733E,
   catskill-white: #DFEBF2,
);

@include layout((
  columns: 16,
  gutter-position: no-gutter,
  gutters: 0,
  global-box-sizing: border-box
));

$current-zindex:  100;
$max-page-width:  1200px;
$masthead-height: 75px;
$page-boundary:   15px;

