<ul class="user__list">
   <h4 class="user__title">Members (<span class="js-user-count"></span>)</h4>
   {{#each this}}
      <li class="user__item">
         <a href="" class="user__profile-button">
            <img class="user__avatar" src="{{this.profileImageUrl}}" alt="{{this.screenName}}">
            <div class="user__name">{{this.screenName}}</div>
         </a>
      </li>
   {{/each}}
</ul>
