<div class="blurb">
   <div class="blurb__image">
      <img src="{{this.profileImageUrl}}">
   </div>
   <div class="blurb__content">
      <p>
         <strong>{{this.screenName}}</strong> has joined
      </p>
   </div>
</div>
