@mixin input($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    border: 1px solid get-color(dove-gray);
    border-radius: 2px;
    color: get-color(charcoal);
    margin: 10px 0;
    padding: 8px 10px;

    &:after {
        @include container();
    }
}

@mixin checkbox($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px 0;

    input {
        margin-right: 10px;
    }
}

@mixin radio($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px 0;

    input {
        margin-right: 10px;
    }
}

@mixin button($size: 16px) {
    @include font-size($size);
    background: get-color(alto);
    border: 1px solid get-color(dove-gray);
    color: get-color(dove-gray);
    display: inline-block;
    font-weight: get-font-weight(bold);
    padding: 10px 40px;
    text-decoration: none;
    transition: background 0.3s ease-out;
    &:hover {
        background: darken(get-color(alto), 5%);
        transition: background 0.3s ease-in;
    }
}

@mixin button-inline($size: 16px) {
   @include button($size);
   background: transparent;
   border-radius: 0;
   color: get-color(black);
   transition: none;
   transition: color 0.3s ease-out;

   &:hover {
      background: transparent;
      color: get-color(shark);
      transition: color 0.3s ease-in;
   }
}


