@mixin input($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    border: 1px solid get-color(dove-gray);
    border-radius: 2px;
    color: get-color(charcoal);
    margin: 10px 0;
    padding: 8px 10px;

    &:after {
        @include container();
    }
}

@mixin checkbox($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px 0;

    input {
        margin-right: 10px;
    }
}

@mixin radio($span: 16 of 16) {
    @include font-size(18px);
    @include span($span);
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px 0;

    input {
        margin-right: 10px;
    }
}

@mixin button($size: 16px) {
    @include font-size($size);
    background: get-color(dove-gray);
    border: none;
    border-radius: 2px;
    color: get-color(white);
    display: inline-block;
    font-weight: get-font-weight(light);
    padding: 10px 20px;
    text-decoration: none;
    transition: background 0.3s ease-out;
    &:hover {
        background: get-color(black);
        transition: background 0.3s ease-in;
    }
}

