.card {
   flex-grow: 1;
   margin: 0 30px 30px 0;
   background-color: get-color(gallery);
   border: 1px solid get-color(alto);
   padding: 100px 20px 30px 20px;
   width: 30%;
   color: get-color(dove-gray);

   &__button {
      @include button();
   }

   &__title {
      @include font-size(21px);
   }

   &__text {
      @include font-size(14px);
   }

   &__meta {
      @include font-size(14px);
      padding: 10px 0;
   }
}


