.major-display {
   background: get-color(concrete);
   padding: 55px 0 70px 0;

   &__textblock {
      @include span(8 of 16);
      color: get-color(dove-gray);
      text-align: center;
   }

   &__visual {
      @include span(last 8 of 16);
      text-align: right;

      img {
         width: 70%;
      }
   }

   &__headline {
      @include font-size(28px);
      font-family: get-stack(sans-condensed);
      margin-bottom: 20px;
   }
}


