.room {
   @include flex-container(stretch, stretch);


   &__title {
      @include font-size(24px);
   }

   &__description {
      @include font-size(18px);
   }

   &__sidebar {
      background: get-color(alto);
      position: relative;
      width: 30%;
   }

   &__realtime {
      background: get-color(concrete);
      height: 100%;
      position: relative;
      width: 70%;
   }

   &__input {
      @include input();
      @include font-size(13px);
      background-color: get-color(gallery);
      padding: 15px 20px;
   }

   &__userinfo {
      bottom: 0px;
      background: darken(get-color(alto), 10%);
      height: 100px;
      padding: 20px 20px 20px 10px;
      position: absolute;
      width: 100%;
   }

   &__info {
      @include span(12 of 16);

      h4 {
         @include font-size(22px);
         font-weight: get-font-weight(light);
      }
   }

   &__notification {
      @include span(last 4 of 16);
      @include font-size(22px);
      text-align: center;
   }

   &__metadata {
      padding: 20px 20px 20px 10px;
   }

   &__members {
      padding: 20px 20px 20px 10px;
   }

   &__chat-form {
      bottom: 10px;
      padding: 20px 40px;
      position: absolute;
      width: 100%;
   }

   &__output {
      bottom: 125px;
      overflow:hidden;
      overflow-y: scroll;
      padding: 20px 40px;
      position: absolute;
      top: 0;
      width: 100%;
   }

   &__share {
      padding: 20px 20px 20px 10px;
   }
}

.member {
   &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }

   &__item {
      display: inline-block;

      a {
         display: block;
         padding: 3px;
      }
   }

   &__avatar {
      border-radius: 50%;
      color: get-color(dusty-gray);
      height: 30px;
      width: 30px;

      &--admin {
         border-radius: 50%;
         color: darken(get-color(dusty-gray), 10%);
         height: 30px;
         width: 30px;
      }
   }
}
