.room {
   @include flex-container(stretch, stretch);

   &__sidebar {
      background: get-color(alto);
      padding: 20px 20px 20px 10px;
      width: 30%;
   }

   &__realtime {
      height: 100%;
      position: relative;
      width: 70%;
   }

   &__input {
      @include input();
      @include font-size(13px);
      background-color: get-color(gallery);
      padding: 15px 20px;
   }

   &__chat-form {
      bottom: 10px;
      padding: 20px 40px;
      position: absolute;
      width: 100%;
   }

   &__output {
      bottom: 125px;
      overflow:hidden;
      overflow-y: scroll;
      padding: 20px 40px;
      position: absolute;
      top: 0;
      width: 100%;
   }
}
